$brand-color: #f0534e;
.article-content{
  background: rgba(80, 73, 70, 0.6);
  padding: 30px;
  overflow-x: hidden;
  color: #fff;
}
table{
  color: #fff;
}
.markdown-body{
  color: #ffffff !important;
}
.article-content-container{
  background: rgba(80, 73, 70, 0.6);
  padding: 15px 30px;
  box-sizing: border-box;
}
.article-title .title{
  font-size: 30px;
}
.article-title .other{
  font-size: 12px;
  color: #9e9d99;
  margin-top: 5px;
}
.article-title .other i{
  margin: 0 5px;
}
.article-message{
  margin-top:30px;

}
.article-message .img{
  margin: 1px 0;
}
.article-message .img img{
  width: 100%;
}
.article-message .text{
  font-size: 14px;
  margin-top: 30px;
}
.article-recommend{
  background: rgba(59,54,51,0.6);
  box-shadow: -3px 0 7px rgba(37,40,40,0.6);
  padding: 8px 6px;
}
.article-recommendtitle .cn{
  font-size: 1.4px;
  margin-bottom: 0.5px;
}
.article-recommendtitle .en{
  font-size: 1.2px;
  color: #9e9d99;
  margin-bottom: 0.5px;
}
.article-recommendtitle .icon a{
  display: inline-block;
  width: 0.5px;
  height: 0.5px;
  background: #eb4f38;
}
.article-recommend-list ul li{
  font-size: 0;
  padding: 1.5px 0;
  border-bottom: 1px dashed #9e9d99;
}

.article-recommend-list ul li .img,.article-recommend-list ul li .message{
  display: inline-block;
}
.article-recommend-list ul li .img{
  width: 100%;
  vertical-align: middle;
}
.article-recommend-list ul li .img img{
  max-width: 100%;
}
.article-recommend-list ul li .message{
  width: 100%;
  margin-left: 2%;
  vertical-align: middle;
}
.article-recommend-list ul li .message .title{

  font-size: 1.2px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 0.5px;
}
.article-recommend-list ul li .message .time{
  font-size: 1.2px;
  color: #9e9d99;
}
.article-recommend-list ul li a:hover{
  cursor: pointer;
}
.article-recommend-list ul li a:hover .title{
  color: #eb4f38;
}




@media screen and (min-width:300px) and (max-width:960px) {
  .article-content{
    margin: 30px;
  }
  .article-content-container{
    padding: 0;
    background: none
  }
}
  article {
    padding-bottom: 64px;
    h1, h2, h3, h4, h5{
      font-size:24px;
      font-weight: 600;
      line-height: 40px;
      margin-bottom: 15px;
    }

    p {
      font-size: 16px;
      line-height: 30px;
      margin-bottom: 15px;
    }

    pre, .highlight {
      overflow: auto;;
      padding: 0;
      margin-bottom: 15px;
      color: #333;
      background: transparent !important;
      line-height: 2em;
      font-family: Rubik,Lato,lucida grande,lucida sans unicode,Tahoma,Sans-Serif;
      .gutter {
        text-align: right;
        display: none;
        pre {
          padding: 0 10px;
        }
      }
      .code {
        padding: 0;
      }
    }

    ul, ol {
      margin: 15px 0;
      margin-left:15px;
      > li {
        padding-left: 20px;
        position: relative;
        &::before {
          content: '';
          position: absolute;
          left: 0;
          top: 15px;
          margin-top: -3px;
          width: 6px;
          height: 6px;
          border-radius: 100%;
          background-color: #444;
        }
      }
    }
    a {
      color: $brand-color;
    }

    strong {
      font-weight: 600;
    }


    figure > img {
      display: block;
    }

    figcaption {
      font-size: 14px;
    }

    blockquote {
      border-left: 4px solid #ddd;
      color: #7a7a7a;
      border-left: 5px solid #ccc;
      padding-left: 15px;
      font-size: 16px;
      margin-bottom: 15px;

      > :last-child {
        margin-bottom: 0;
      }
    }

    * {
      max-width: 100%;
    }
  }


